.opisprodukt{
     position: relative;
     top: -850px;
     grid-column: 1/6;
     display: flex;
}

body {
     overflow-y: hidden;
}

.pole{
     position: relative;
     height: 100px;
     top: 0px;
     width: 100%;
}

.divdiv{
     position: relative;
     top: 0px;
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
     background-color: rgb(241, 241, 241);
     height: 850px;

}

.opis{
    
     width: 950px;
     position: relative;
     left: 550px;
     top: -330px;
}

.p{
     font-size: 25px;
}

.cena_produktu{
     color: rgb(201, 126, 20);
     font-size: 35px;
}

.opis p{
     text-align: center;
}

.uwaga{
     color: rgb(255, 115, 0);
     background-color: rgb(254, 211, 171);
     padding: 15px;
     border: 1px solid rgb(255, 115, 0);
}

.opis h1{
     text-align: center;
}

.image{
     position: relative;
     width: 300px;
    top: 100px;
    left: 100px;
    padding: 60px;
    border-radius: 50px;
    background-color: #fff;
}

.image img{
     width: 300px;
     height: 300px;
}

nav {
     display: flexbox;
      color: #ffffff;
      padding: 0px;
      grid-column: 1/6;
      position: relative;
      top: 0px;
      width: 100%;
      z-index: 2;
      margin: 0px;
      padding: 0px;
      background-color: #fff;
      height: 100PX;
  
  }  

  .grid-container{
     display: grid;
     height: 2000px;
     grid-template-columns: repeat(5, 1fr);
 }

 .dodajdokoszyka-btn{
     border-radius: 15px;
     border: none;
     box-shadow: 5px 5px 5px rgb(186, 186, 186);
     position: relative;
     top: 70px;
     left: 400px;
     background-color: #69774C;
     padding: 30px;
     color: #fff;
     cursor: pointer;

 }

 .lorem{
     position: relative;
     top: 70px;
     background-color: #e6e6e6;
     padding: 15px;
     border-radius: 20px;
 }

 .ilosc{

     width: 300px;
     position: relative;
     top: -50px;
     left: 370px;
 }