@font-face {
     font-family: 'Kdam Thmor Pro';
     src: url('KdamThmorPro-Regular.ttf') format('truetype');
     /* Dodaj różne formaty w zależności od przeglądarek */
     font-weight: normal;
     font-style: normal;
 }
 
 body {
    height: 0px;
     margin: 0;
     font-family: 'Kdam Thmor Pro', sans-serif;
     overflow-x: hidden; /* Hide horizontal scrollbar */
 }
 
 
 .grid-container{
     display: grid;
     height: 2000px;
     grid-template-columns: repeat(5, 1fr);
 }
 
 
 nav {
    display: flexbox;
     color: #ffffff;
     padding: 0px;
     grid-column: 1/6;
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 1;
     margin: 0px;
     padding: 0px;
     background-color: #fff;
 
 }   
 
 .navigation{
     display: grid;
     grid-template-columns: repeat(9, 1fr);
     gap: 20px;
     position: relative;
     top: 10px;
     background-color: white;
     width: 100%;
 }
 
 .glowna-button{
     position: relative;
     grid-column: 5/6;
     height: 50px;
     box-shadow: 5px 5px 5px rgb(154, 154, 154);
 }
 
 .sklep-button{
     position: relative;
     grid-column: 6/7;
     height: 50px;
     box-shadow: 5px 5px 5px rgb(154, 154, 154);
 }
 
 .regulamin-button{
     position: relative;
     grid-column: 7/8;
     height: 50px;
     box-shadow: 5px 5px 5px rgb(154, 154, 154);
 }
 
 .kontakt-button{
     position: relative;
     grid-column: 8/9;
     height: 50px;
     box-shadow: 5px 5px 5px rgb(154, 154, 154);
 }
 
 nav input{
     grid-column: 3/4;
     border-radius: 5px;
 }
 
 nav img{
     grid-column: 2/3;
 }
 
 /* Stylizacja przycisków nawigacyjnych */
 nav button {
     background-color: #69774C;
     color: #fff;
     border: none;
     padding: 10px 20px;
     margin-right: 10px;
     cursor: pointer;
     border-radius: 10px;
     transition: 0.2s;
 }
 
 /* Stylizacja przycisków nawigacyjnych po najechaniu myszą */
 nav button:hover {
     background-color: #777777777;
     box-shadow: 0px 0px 0px;
 }
 
 .shop-navigation{
     display: grid;
     grid-template-columns: repeat(8, 1fr);
     position: relative;
     top: 30px;
     height: 60px;
     background-color: #69774C;
     grid-column: 1/3;
     padding: 0px;
     margin: 0px;
     width: 100%;
 }
 
 .navigation img{
     width: 120px;
 }
 
 #bron-button{
     grid-column: 3/4;
 
 }
 
 #amunicja-button{
     grid-column: 4/5;
 }
 
 #optyka-button{
     grid-column: 5/6;
 }
 
 #akcesoria-button{
     grid-column: 6/7;
 }
 
 .cart-button{
     grid-column: 7/8;
 }
 
 .cart-img{
     position: relative;
     left: 0px;
     width: 30px;
 }
 
 .kategoria{
    display: flexbox;
     width: 100%;
     position: relative;
     top:170px;
     grid-column: 1/6;
 }
 
 .kategoria h1{
     text-align: center;
     color: #69774C;
     position: relative;
   
 }
 .kategoria-opcje{
     display:grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 200px;
     position: relative;
     top: 50px;
 
 }
 .kategoria-btn{
     width: 300px;
     position: relative;
 }
 
 #kategoria-one{
     grid-column: 2/3;
 }
 
 #kategoria-three{
     grid-column: 3/4;
 }
 
 #kategoria-four{
     grid-column: 4/5;
 }
 
 .dropbtn{
    width: 100%;
    border-radius: 0px;  
 }
 .kategorie-produktow{
    
 
 }
 
 .kategorie-produktow h2, h3{
     text-align: center;
 }
 
 .kategorie-produktow img{
     width: 100%;
     border: 1px solid black;
 }
 .kategoria-zobacz{
     border-radius: 50px;
     width: 100%;
     height: 50px;
 }
 
 #image-right{
     width: 50px;
     height: 50px;
 }
 
 #btn-right{
     position: relative;
     top: 50px;
     color: #69774C;
 }

 .line-1{
     width: 500px;
     height: 3px;
     position: relative;
     transform: translate(-50%, -50%);
     left: 50%;
     background-color: rgb(205, 205, 205);
     border-radius: 5px;
 }


 .promocje{
     width: 100%;
     position: relative;
     height: 780px;
     top: 300px;
     background-color: #f7f7f7;
     grid-column: 1/6;
 }

 .promocje h1{
     color: #69774C;
     position: relative;
     top: 100px;
     text-align: center;

 }

 .h2{
    color: #b6b6b6;
    position: relative;
    top: 100px;
    text-align: center;

}

 .line-2{
     width: 500px;
     height: 3px;
     position: relative;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 100px;
     background-color: rgb(205, 205, 205);
     border-radius: 5px;
 }

 .promocje-opcje{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
}



.prodoktPromocja{
     position: relative;
     top: 150px;
     width: 100%;
     text-align: center;
}

.prodoktPromocja img{
     border: 1px solid black;
}

.promocja-metka{
     color: white;
     position: relative;
   
     top: 30px;
     left: 20px;
     width: 130px;
     height: 50px;
     background-color: #DC564E;
     border-top-right-radius: 8px;
     border-bottom-left-radius: 40px;
     border-top-left-radius: 8px;
}

.promocja-metka p{
     position: relative;
     transform: translate(-50%, -50%);
     left: 60%;
     top: -17%;
}

.promocja-metka-dziura{
     position: relative;
     left: 25px;
     top: 13px;
     border-radius: 50%;
     width: 15px;
     height: 15px;
     background-color: white;
}

.ceny{
    display: flex;
}

.cena{
    display: flexbox;
    width: 50%;
    
}

.cena h4{
    position: relative;
    color: #5f5f5f;
    top: -20px;
    left: 60px;
}

.cena-obnizona{
    display: flexbox;
    width: 50%;
   
}

.cena-obnizona h4{
    position: relative;
    color: #fdac41;
    top: -20px;
    right: 60px;
}


.promocje {
    width: 100%;
    position: relative;
    height: 815px;
    top: 100px;
    background-color: #f7f7f7;
    grid-column: 1/6;
    margin-bottom: 50px; /* Added margin at the bottom to create space for the "O-nas" div */
}

.O-Nas {
    color: black;
    width: 100%;
    top: 100px;
    position: relative;
    top: -250px;
    grid-column: 1/6;
  
}

.background{
    width: 100%;
    height: 100%;

}

.background::before{
    background: rgba(0, 0, 0, 0.5);
}


.line-3{
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 250px;
    background-color: white;
    height: 3px;
    width: 200px;
}



.O-Nas h1{
    color: white;
     text-align: center;
    
}

.opis{
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 20px;
    position: relative;
    top: 0px;
    width: 97%;
    background-color: #DC564E;
    background-image: url(tloNas.jpg);
    background-repeat: no-repeat;

}

.kontakt{   
    color: white;
    padding: 15px;
    padding-bottom: 50px;
    background-color: #404040;
    width: 98.59%;
    top: -250px;
    position: relative;
    grid-column: 1/6;
}

.kontakt h1{
    text-align: center;
}

.line-4{
    width: 370px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 0px;
    left: 50%;
    height: 2px;
    background-color: black;
}

.kontakt-tekst p{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 35px;
}

.mapy{
    padding: 40px;
    display: grid;
    width: 95%;

    grid-template-columns: repeat(3,29%);
    gap: 120px;
}

.mapa{
    border-radius: 30px;
    padding: 30px;
    height: ;
    box-shadow: 15px 15px 15px black;
    background-color: #363636;
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.mapa iframe{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.mapa p{
    font-size: 25px;
    word-wrap: break-word;
    padding-right: 20px;
}

.stopka{
    position: relative;
    padding: 30px;
    top: -250px;
    background-color: #363636;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

.stopka div{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
}
 